<h1>Welcome! What would you like to do?</h1>

<!--Find me in app/views/welcome/index.html.erb  -->

<p><%= link_to 'New User', users_path %></p>
<p><%= link_to 'New Micropost', microposts_path %></p>
